body{
    background-color: #ffed75;
}

div.logo{

    background-image: url("images/logo.png");
    /*background-size: 100%;*/
    background-size: cover;
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 153px;
}

div.play_logo{
    background-image: url("images/play2.png");
    margin-top: 15%;
    margin-left: 7%;
    background-size: cover;
    width: 260px;
    height: 120px;
    /*display: table-cell;*/
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}



div.col-md-3.menu{
    height: 8%;
    border-radius: 5px;
    background-color: floralwhite;
    border: 1px solid coral;
}



div.col-md-3.remove{
    background-image: url("images/remove1.png");
    margin-left: 2%;
    height:50px;
    width: 50px;
    background-size: cover;
    cursor: pointer;
}

div.col-md-3.plus{
    background-image: url("images/plus.png");
    margin-left: 2%;
    height:50px;
    width: 50px;
    background-size: cover;
    cursor: pointer;
}


input.team{
    border: none;
    background-color: floralwhite;
    width:80%;
    height: 100%;
    font-size: 17px;
}

div.buttons{
    margin-right: -5%;
    float: right;
    height:50px;
    width: 50px;
    /*background-color: red;*/
    background-image: url("images/refresh.png");
    background-size: cover;
    cursor: pointer;
}


div.play{

    display: table;
    width: 300px;height: 300px;margin: auto;
    background-image: url("images/play1.png");
}


div.central{
    display: table;
    margin: auto;
}

div.timer{
    margin-left: 17%;
}

div.card{
    margin-left: 3%;
    width: 250px;
    height: 300px;
    border: 2px solid black;
}

h3.word{
    /*height: 350px;  !* не в % *!*/
    text-align: center;
    line-height: 280px;
}

h3.title{
    /*height: 350px;  !* не в % *!*/
    text-align: center;
    line-height: 280px;
}

div.yes{
    cursor: pointer;
    margin-top: 35%;
    background-image: url("images/yes.png");
    background-size: cover;
    width: 100px;
    height: 100px;
}

#window{
    display: none;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
}


div.no{
    cursor: pointer;
    margin-top: 39%;
    margin-left: 55%;
    background-image: url("images/no.png");
    background-size: cover;
    width: 70px;
    height: 70px;
}