.recipeItem{
    width: 30%;
    height: 350px;
    background-color: white;
    /*border: 1px solid darkgray;*/
    border-radius: 15px;
    margin: 7px;
    text-align: center;
}

.recipeItem:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}


.jumbotron{
    background-color: white !important;
}

.recipeItem img{
    width: 100%;
    margin-top: 3px;
    height: 200px;
    border-radius: 15px;
}

body{
    background-color: #eaeaea;
}




[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}

.item{
    width: 600px;
    height: 500px;
}

#myCarousel{
    width: 600px;
    height: 500px;
}

.line {
    height: 1px;
    flex: 1;
    background: dimgrey;
    margin: 0 10px;
}

.recipeItem h3 a:hover{
    text-decoration: none;
}

.recipeItem h3 a{
    color: black;
    cursor: pointer;
}

.circle:before {
    content: ' \25CF';
    font-size: 18px;
    color: crimson;
}